footer {
  margin: auto;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  font: var(--text-md);
  color: var(--text-color-secondary);
  display: flex;
}

footer div {
  display: flex;
  padding-inline: 4px;
  gap: 24px;

}