header{
  display: flex;
  padding: 32px;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
}

header > div{
  display: flex;
  gap: 32px;
  width: 592px;
  align-items: center;
}

header > div img{
  height: 176px;
  width: 176px;
  border-radius: 50%;
  object-fit: cover;
}

#profile {
  display: flex;
  flex-direction: column;
  gap: 8px;  
}

#profile h1{
  font: var(--text-lg);
  color: var(--text-color-primary);
}

#profile p{
  font: var(--text-md);
  color: var(--text-color-secundary);
}
header ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  justify-content: center;
  width: 280px;
}

header li{
  display: flex;
  gap: 8px;
  align-items: center;
}